<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion Admin</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Connexion</h1>
  <form method="POST" action="/login">
    <input type="password" name="password" placeholder="Mot de passe admin">
    <button type="submit">Se connecter</button>
  </form>
</body>
</html>